<h1>Restablecer Contraseña</h1>

<form action="/api/sessions/reset-password" method="POST">
    <input type="hidden" name="token" value="{{token}}" />
    <label>Nueva Contraseña:</label>
    <input type="password" name="newPassword" required />
    <button type="submit">Restablecer</button>
</form>
